*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
    width: 100%;
    padding: 15px;
    height: 100vh;
    margin: auto;
    position: relative  ;
}

    /* body{
        background-color: violet;
    } */

nav{
    width: 100%;
    height: 10vh;
    position: sticky;
    top: 0;
    background-color: whitesmoke;
    color: purple;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;   
    box-shadow: 0px 1px 4px black;
}

button{
    padding: 10px 15px;
    border-radius: 5px;
    background-color: purple;
    color: white;
    font-weight: 400;
        z-index: 10000000000; 
   border: none;

}

button:hover{
    cursor: pointer;
    
}

.introduction, .tutorial, .steps{
    width: 100%;
    padding: 15px;
    margin-bottom: 10px;
}

img{
    width: 100%;

}
strong{
   color: grey;
}
h1{
    color: purple;
}

.ul-test{
    margin-bottom: 10px;
    padding: 10px;
}


   
footer {
    text-align: center;
}